<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.jonas.proxy</string>
	<key>ProgramArguments</key>
        <array>
	    <string>/usr/local/bin/node</string>
            <string>/Users/jonas/depot/prox/bin/app.js</string>
        </array>
        <key>RunAtLoad</key>
        <true />
        <key>KeepAlive</key>
        <true />
        <key>StandardErrorPath</key>
        <string>/tmp/proxytmp</string>
        <key>EnvironmentVariables</key>
        <dict>
          <key>PATH</key>
          <string>/usr/local/bin:$PATH</string>
        </dict>
        <key>WorkingDirectory</key>
        <string>/Users/jonas/depot/prox</string>
</dict>
</plist>
